body {
  font-family: 'DM Sans';
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
}

h4 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #000;
  text-decoration: underline;
}

.nav {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.nav.w--current {
  font-family: 'Press Start 2P', sans-serif;
}

.navbar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.header-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 500px;
  margin-bottom: 50px;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  color: #000;
}

.headline-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 3px;
  background-color: #000;
  font-size: 20px;
  font-weight: 500;
}

.subhead {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Alfa Slab One';
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.site-title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
}

.body-container {
  padding-top: 0px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 50%;
  height: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px, 50% 50%;
  color: #fff;
}

.section-22222 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0px none #000;
  background-color: #fff;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  text-align: left;
  letter-spacing: 2px;
}

.site-navigation {
  padding-top: 20px;
  background-color: #f3ebeb;
}

.heading {
  margin-bottom: 8px;
  font-family: 'Space Mono';
  font-size: 52px;
  line-height: 1.2;
  font-weight: 400;
}

.navbar-container {
  margin-right: auto;
  margin-left: auto;
}

.image {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.paragraph {
  font-family: 'Montserrat Alternates';
  font-size: 32px;
  font-weight: 700;
}

.image-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Press Start 2P', sans-serif;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.nes-select {
  display: block;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 2px none #000;
  border-radius: 4px;
  font-family: 'Press Start 2P', sans-serif;
}

.nes-btn {
  margin-top: 10px;
  border: 1px dotted #000;
  background-color: #e9390c;
  font-family: 'Press Start 2P', sans-serif;
  color: #000;
}

.nes-container-is-rounded-is-dark {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

.body {
  background-color: transparent;
  background-image: url('../images/Artboard-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.text-block-2 {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
}

.text-block-3 {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
}

.nes-icon-trophy-is-large {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.body-2 {
  background-color: #f3ebeb;
  background-image: url('../images/Artboard-3.png');
  background-position: 0px 0px;
  background-size: cover;
  cursor: pointer;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 700;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nes-dialog-is-rounded {
  background-color: #0ce95a;
  color: #000;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-2 {
  background-color: #0ce95a;
  color: #000;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f86756;
  background-image: linear-gradient(146deg, rgba(245, 25, 25, 0.81) 16%, #fff);
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.image-3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.heading-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: lowercase;
}

.div-block {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Press Start 2P', sans-serif;
}

.heading-3 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 44px;
}

.field-label {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.field-label-2 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.field-label-3 {
  position: relative;
  font-family: 'Press Start 2P', sans-serif;
  text-align: left;
}

.link {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
}

.slide-2 {
  background-image: url('../images/Asset-2.png');
  background-position: 100% 50%;
  background-size: 186px;
  background-attachment: scroll;
}

.nes-icon-close-is-large {
  font-family: 'Press Start 2P', sans-serif;
}

.slide-1 {
  background-image: url('../images/01-PNG.png');
  background-position: 50% 0%;
  white-space: pre-line;
}

.heading-4 {
  position: relative;
  left: 38px;
  margin-top: -3px;
  margin-left: -13px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
}

.image-4 {
  position: relative;
  right: -200px;
  display: inline;
  float: none;
  text-align: center;
}

.nes-pokeball {
  position: static;
  display: inline;
  margin-left: 200px;
  float: left;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 0px;
  text-align: right;
}

.slide-3 {
  background-image: url('../images/Asset-2.png');
  background-position: 50% 50%;
  background-size: auto;
  background-attachment: scroll;
}

.slide-4 {
  background-image: url('../images/AB-SVG-04.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.nes-octocat-animate {
  overflow: scroll;
}

.oct {
  position: relative;
  right: -200px;
}

.image-5 {
  position: relative;
  margin-top: 38px;
  margin-right: -200px;
  margin-left: 200px;
  text-align: center;
}

.container {
  border: 0px none #000;
  border-radius: 0px;
}

.nes-select-is-dark {
  margin-bottom: 0px;
  background-color: hsla(0, 0%, 100%, 0.95);
  font-family: 'Press Start 2P', sans-serif;
}

.image-6 {
  margin-bottom: -3px;
}

.sparrow {
  font-family: 'Press Start 2P', sans-serif;
}

.dropdown-link-2 {
  font-family: 'Press Start 2P', sans-serif;
}

.dropdown-link-3 {
  font-family: 'Press Start 2P', sans-serif;
}

.crabbin {
  font-family: 'Press Start 2P', sans-serif;
}

.die-konig {
  background-color: #f3ebeb;
  font-family: 'Press Start 2P', sans-serif;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rich-text-block {
  font-family: 'Press Start 2P', sans-serif;
}

.image-7 {
  margin-right: auto;
  margin-left: auto;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-2 {
  font-family: 'Press Start 2P', sans-serif;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.body-3 {
  background-color: transparent;
  background-image: url('../images/Artboard-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.image-8 {
  margin-left: 178px;
  border: 1px solid #000;
  border-radius: 7px;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
  border: 0px solid #000;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-6 {
  margin-bottom: 40px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.grid {
  grid-template-areas: ". Area";
}

.image-9 {
  display: block;
}

.image-10 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: transparent;
  opacity: 0.75;
}

.grid-2 {
  grid-auto-flow: row;
}

.columns {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-5 {
  margin-top: 20px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  line-height: 22px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.custom-code {
  margin-top: 20px;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 40px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
  white-space: normal;
}

.nes-textarea {
  display: -ms-grid;
  display: grid;
  margin-top: 114px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1.25fr;
  grid-template-columns: 1fr 1.25fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  line-height: 1.85;
  font-weight: 400;
  text-align: center;
}

.text-block-6 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.image-11 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nes-icon-is-large {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.heading-7 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 28px;
}

.text-field {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12px;
}

.submit-button {
  font-family: 'Press Start 2P', sans-serif;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.nes-field {
  margin-bottom: 0px;
  font-family: 'Press Start 2P', sans-serif;
}

.nes-input {
  margin-bottom: 0px;
  background-color: #f3ebeb;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.html-embed-2 {
  display: inline;
}

.image-12 {
  position: relative;
  left: 200px;
  display: inline-block;
  max-width: 100%;
  margin-top: 140px;
  margin-right: 0px;
  margin-left: 105px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 0px none #000;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-7 {
  font-family: 'Press Start 2P', sans-serif;
}

.nightingale-sparrow-magazine {
  font-family: 'Press Start 2P', sans-serif;
}

.flash-fiction-collection {
  font-family: 'Press Start 2P', sans-serif;
}

.coming-soon {
  font-family: 'Press Start 2P', sans-serif;
}

.paragraph-3 {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
}

.heading6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 44px;
  text-align: center;
}

.html-embed-3 {
  margin-top: 29px;
}

.html-embed-4 {
  margin-top: 40px;
}

.text-block-8 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.text-block-9 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.crabb {
  background-color: #f3ebeb;
  font-family: 'Press Start 2P', sans-serif;
}

.dropdown-link-5 {
  font-family: 'Press Start 2P', sans-serif;
}

.dropdown-link-6 {
  background-color: #f3ebeb;
  font-family: 'Press Start 2P', sans-serif;
}

.dropdown-link-7 {
  font-family: 'Press Start 2P', sans-serif;
}

.image-13 {
  display: block;
}

.html-embed-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.paragraph-4 {
  font-family: 'Press Start 2P', sans-serif;
}

.paragraph-5 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: right;
}

.paragraph-6 {
  font-family: 'Press Start 2P', sans-serif;
}

.link-block-2 {
  min-height: 90px;
  min-width: 90px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.html-embed-6 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-14 {
  margin-top: 60px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.bold-text {
  font-size: 22px;
}

.italic-text {
  font-size: 22px;
}

.bold-text-2 {
  font-size: 22px;
}

.bold-text-3 {
  font-size: 18px;
}

.text-block-10 {
  margin-top: 40px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  text-align: left;
}

.paragraph-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  line-height: 1.85;
  text-align: center;
}

.paragraph-12 {
  display: block;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-left: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3ebeb;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  text-align: left;
  letter-spacing: 2px;
  white-space: normal;
}

.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-2 {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-8 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 44px;
}

.paragraph-9 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

.text-block-11 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.html-embed-7 {
  background-color: #f3ebeb;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 22px;
  text-align: center;
}

.nes-container-is-dark {
  background-color: #f3ebeb;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 2px;
}

.nes-container {
  background-color: transparent;
}

.idk {
  background-color: #fff;
}

.why-is-this-linked {
  margin-right: 100px;
  margin-bottom: 5px;
  margin-left: 100px;
  background-color: #f3ebeb;
  font-family: itc-american-typewriter, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  text-align: left;
  letter-spacing: 2px;
}

.html-embed-8 {
  margin-top: 20px;
  font-family: itc-american-typewriter, sans-serif;
  text-align: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-12 {
  margin-top: 10px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .nav {
    background-color: #f3ebeb;
    color: #000;
  }
  .navbar {
    padding-top: 0px;
  }
  .header-background {
    height: auto;
    min-height: 400px;
    padding-bottom: 50px;
  }
  .brand-link {
    padding-left: 10px;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-container {
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-menu {
    background-color: #000;
    color: #fff;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .heading-2 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .div-block {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .heading-4 {
    left: 3px;
    margin-left: 105px;
  }
  .flex-container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery-grid-container {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .custom-code {
    font-family: itc-american-typewriter, sans-serif;
  }
  .paragraph-12 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
  }
  h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  h5 {
    font-size: 16px;
    line-height: 1.4;
  }
  h6 {
    font-size: 14px;
    line-height: 1.4;
  }
  p {
    font-size: 16px;
  }
  .nav {
    background-color: #f3ebeb;
  }
  .navbar {
    padding-top: 0px;
  }
  .header-background {
    height: auto;
    padding-bottom: 40px;
  }
  .headline-container {
    text-align: center;
  }
  .button {
    padding: 15px 20px;
    font-size: 18px;
  }
  .subhead {
    font-size: 24px;
    line-height: 1.2;
  }
  .body-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .hero {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .hero-overlay {
    padding: 40px 20px;
  }
  .heading {
    font-size: 40px;
  }
  .nav-menu {
    color: #f3ebeb;
  }
  .subscribe-form {
    padding: 40px 20px;
  }
  .contact-form {
    padding: 40px 20px;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .heading-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .link {
    color: #000;
    font-size: 10px;
  }
  .heading-4 {
    margin-left: -3px;
  }
  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading-5 {
    text-align: center;
  }
  .image-8 {
    margin-left: 187px;
  }
  .gallery {
    padding: 40px 20px;
  }
  .gallery-grid-container {
    max-width: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .gallery-thumbnail {
    text-align: left;
  }
  .heading-6 {
    font-family: 'Press Start 2P', sans-serif;
  }
  .text-block-4 {
    font-family: 'Press Start 2P', sans-serif;
    font-style: normal;
    text-decoration: underline;
  }
  .main-content {
    padding: 40px 20px;
  }
  .custom-code {
    font-family: itc-american-typewriter, sans-serif;
  }
  .nes-textarea {
    -ms-grid-columns: 1fr 0.5fr;
    grid-template-columns: 1fr 0.5fr;
  }
  .image-12 {
    margin-left: -102px;
  }
  .text-block-10 {
    text-align: left;
  }
  .paragraph-12 {
    margin-bottom: 20px;
  }
  .flex-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 1.1;
  }
  h2 {
    line-height: 1.2;
  }
  h3 {
    line-height: 1.3;
  }
  h4 {
    line-height: 1.4;
  }
  h5 {
    line-height: 1.4;
  }
  .nav {
    background-color: #f3ebeb;
    color: #000;
  }
  .nav.w--current {
    color: #000;
  }
  .header-background {
    height: auto;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .headline-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .brand-link {
    padding-left: 10px;
  }
  .site-title {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .icon {
    color: #000;
  }
  .menu-button-2 {
    background-color: #000;
  }
  .menu-button-2.w--open {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #4edb8e;
    background-image: url('../images/Artboard-3.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .section-22222 {
    text-align: left;
  }
  .heading {
    font-size: 36px;
  }
  .subscribe-form-input-wrapper {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nes-select {
    display: block;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .nes-btn {
    font-size: 12px;
  }
  .body {
    background-color: #effaef;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nes-container-is-rounded {
    font-family: 'Press Start 2P', sans-serif;
    color: #000;
  }
  .heading-3 {
    font-size: 30px;
  }
  .nes-pokeball {
    margin-left: 35px;
  }
  .nes-select-is-dark {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .heading-5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
  }
  .image-8 {
    width: 250px;
    height: 250px;
    margin-left: 19px;
  }
  .gallery-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .heading-6 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 22px;
    text-align: center;
  }
  .custom-code {
    font-family: itc-american-typewriter, sans-serif;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
  }
  .nes-textarea {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-12 {
    left: 0px;
    margin-left: 0px;
  }
  .heading6 {
    display: block;
    overflow: visible;
    width: 100px;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    font-size: 40px;
    line-height: 1.8;
    text-align: center;
    white-space: normal;
    -o-object-fit: none;
    object-fit: none;
  }
  .text-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-10 {
    text-align: left;
  }
  .paragraph-7 {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 16px;
  }
  .paragraph-12 {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .html-embed-7 {
    text-align: center;
  }
  .why-is-this-linked {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .text-block-12 {
    line-height: 26px;
  }
}

#w-node-d2fdb7749dd8-a3e51b7c {
  -webkit-box-ordinal-group: -9998;
  -webkit-order: -9999;
  -ms-flex-order: -9999;
  order: -9999;
}

#w-node-03d1590418be-93e51b7d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-e89a64c51f0a-2bf44dd8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-03d1590418b6-93e51b7d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-03d1590418ba-93e51b7d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-e89a64c51f0a-2bf44dd8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

